
#rec_data {
    display: none;
}

#logo {
    height: 40px;
    width: 200px;
}


h3 {
    margin-left: 2rem;
}

#foot_box {
    /*border-style: solid;*/
    /*border-width: thin;*/
    /*border-color: black;*/
    /*border-radius: 5px;*/
    height: 60px;
}
#dbIn {
    align-self: center;
    width: 30%;
}

/*#inputGroupFile01 {*/
/*    height: 60px;*/
/*}*/


/*#db_file {*/
/*    align-self: center;*/
/*}*/
/*#lbl {*/
/*    width: 400px;*/
/*}*/
/*#saveTable {*/
/*    width: 300px;*/
/*}*/

/*#save {*/
/*    align-self: center;*/
/*}*/

/*#main_table {*/
/*    border-style: solid;*/
/*    border-width: thin;*/
/*    border-color: black;*/
/*    border-radius: 5px;*/
/*}*/

/*#foot_box {*/
/*    height: 50px;*/
/*    border-style: solid;*/
/*    border-width: thin;*/
/*    border-color: black;*/
/*}*/

/*================ OLD code below =============*/


/*h3 {*/
/*    color: white;*/
/*    text-align: center;*/
/*}*/

/*body {*/
/*    background-color: #676565;*/
/*    min-width: min-content;*/
/*    min-height: min-content;*/
/*}*/
/*#main {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: stretch;*/
/*    height: 92vh;*/
/*}*/


/*#header {*/
/*    display: flex;*/
/*    position: relative;*/
/*    flex-direction: row;*/
/*    border-style: solid;*/
/*    border-width: thin;*/
/*    border-color: ghostwhite;*/
/*    border-radius: 5px;*/
/*    padding: 3px;*/
/*    justify-content: space-between;*/
/*}*/

/*.label {*/
/*    color: aliceblue;*/
/*}*/

/*input[name="txt"] {*/
/*    width: 400px;*/
/*}*/

/*!*this is for table div box*!*/
/*#table {*/
/*    position: relative;*/
/*    margin-top: 5px;*/
/*    margin-bottom: 5px;*/
/*    width: 100%;*/
/*    flex-grow: 2;*/
/*    border-style: solid;*/
/*    border-width: thin;*/
/*    border-color: ghostwhite;*/
/*    border-radius: 5px;*/
/*    background-color: #676565;*/
/*}*/
/*!*this is for table itself*!*/

/*.th {*/
/*    color: ghostwhite;*/
/*}*/
/*#table_id {*/
/*    color: black;*/
/*    text-align: center;*/
/*}*/

/*#footer {*/
/*    !*display: flex;*!*/
/*    !*position: relative;*!*/
/*    border-style: solid;*/
/*    border-width: thin;*/
/*    border-color: ghostwhite;*/
/*    border-radius: 5px;*/
/*    padding: 3px;*/
/*    height: 47px;*/
/*    bottom: 0;*/
/*}*/

/*input[name="txt_dir"] {*/
/*    width: 300px;*/
/*    height: 24px;*/
/*    margin-right: 3px;*/
/*}*/

/*input[name="txt_save1"] {*/
/*    width: 300px;*/
/*    height: 24px;*/
/*    margin-right: 3px;*/
/*}*/
/*input[name="txt_save2"] {*/
/*    width: 300px;*/
/*    height: 24px;*/
/*    margin-right: 3px;*/
/*}*/



/*#field2 {*/
/*    margin-left: 30px;*/
/*}*/


/*.buttTop {*/
/*    position: relative;*/
/*    padding: 8px 8px;*/
/*    font-size: 16px;*/
/*    width: 40%;*/
/*    height: 100%;*/
/*    margin-left: 3px;*/
/*    margin-right: 3px;*/
/*}*/
/*.buttTop2 {*/
/*    position: relative;*/
/*    padding: 8px 8px;*/
/*    font-size: 16px;*/
/*    width: 40%;*/
/*    height: 100%;*/
/*    margin-left: 3px;*/
/*    margin-right: 3px;*/
/*}*/

/*#block1 {*/
/*    display: flex;*/
/*    position: relative;*/
/*    !*border-style: solid;*!*/
/*    !*border-width: thin;*!*/
/*    !*border-color: ghostwhite;*!*/
/*}*/
/*#block2 {*/
/*    display: flex;*/
/*    position: relative;*/
/*    !*border-style: solid;*!*/
/*    !*border-width: thin;*!*/
/*    !*border-color: ghostwhite;*!*/
/*}*/

/*#block3 {*/
/*    display: flex;*/
/*    position: relative;*/
/*    !*border-style: solid;*!*/
/*    !*border-width: thin;*!*/
/*    !*border-color: ghostwhite;*!*/
/*}*/
/*#files {*/
/*    font-size: 16px;*/
/*    margin-top: 16px;*/
/*}*/

/*#dir_data {*/
/*    display: none;*/
/*}*/
/*#rec_data {*/
/*    display: none;*/
/*}*/

/*!*input::placeholder {*!*/
/*!*    color: black;*!*/
/*!*}*!*/



/*.butBott {*/
/*    padding: 8px 8px;*/
/*    font-size: 16px;*/
/*}*/




